@model GruppoStoricoApp.Models.VestitoCompletoPersona

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Sei sicuro di volerlo eliminare?</h3>

<div>
    <h4>Assegnazione Vestito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Persona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persona.Nome) @Html.DisplayFor(model => model.Persona.Cognome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calzamaglia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calzamaglia.Numero)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camicia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camicia.Numero)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cintura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cintura.Numero)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vestito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vestito.Numero)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stivale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stivale.Numero)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VestitoCompletoPersonaID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Torna alla lista</a>
    </form>
</div>
