@model IEnumerable<GruppoStoricoApp.Models.Evento>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista Eventi</h1>

<p>
    <a asp-action="Create">Crea Evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEvento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEvento)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Dettaglio</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Elimina</a> |
                    <a asp-controller="PartecipazioneEvento" asp-action="Index" asp-route-eventoid="@item.ID">Partecipanti</a>
                </td>
            </tr>
        }
    </tbody>
</table>
