@model IEnumerable<GruppoStoricoApp.Models.Vestito>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista di Vestiti @ViewData["RuoliLista"]</h1>

<p>
    <a asp-action="Create" asp-route-ruoloId="@ViewData["RuoloId"]">Crea Nuovo Vestito @ViewData["Ruolo"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taglia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ruolo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Taglia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ruolo.NomeRuolo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Dettaglio</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>