@model IEnumerable<GruppoStoricoApp.Models.Persona>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crea</h1>

<h4>Partecipazione @ViewData["Evento"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" name="eventoId" value="@ViewData["EventoIdValue"]" />
                    @foreach (var p in Model)
                    {
                        <div class="row">
                            <div class="col-md-12"><input id="@p.ID" type="checkbox" name="personaId" value="@p.ID" /> <label for="@p.ID">@p.Nome @p.Cognome</label></div>
                        </div>
                    }
            </div>
            <div class="form-group">
                <input type="submit" value="Crea" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-eventoId="@ViewData["EventoIdValue"]">Torna alla lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
